@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f1424;
}

#Dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rubik", sans-serif;
}

#Dashboard #UserInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #1c1f4a;
  border-radius: 20px;
}

#Dashboard #UserInfo .user-details {
  background-color: #5847eb;
  padding: 20% 30% 20% 15%;
  border-radius: 20px;
}

#Dashboard #UserInfo .user-details .profile-photo-container {
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid white;
  margin-bottom: 40%;
}

#Dashboard #UserInfo .user-details .profile-photo-container > img {
  width: 80px;
}

#Dashboard #UserInfo .profile-details div {
  font-size: 1em;
  color: #b3b3b3;
  margin-bottom: 4%;
}

#Dashboard #UserInfo .profile-details div#Username {
  font-size: 2em;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
}

#Dashboard #UserInfo .tracker-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10%;
  color: #6f76c8;
}

#Dashboard #UserInfo .tracker-options .tracker-option {
  margin-bottom: 8%;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

#Dashboard #UserInfo .tracker-options .tracker-option:active, #Dashboard #UserInfo .tracker-options .tracker-option:focus, #Dashboard #UserInfo .tracker-options .tracker-option:visited, #Dashboard #UserInfo .tracker-options .tracker-option:hover {
  color: white;
}

#Dashboard .tracker-grid {
  display: -ms-grid;
  display: grid;
  width: 900px;
  margin-left: 5%;
  -ms-grid-columns: (250px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 250px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: 5%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

#Dashboard .card {
  width: 250px;
  background-color: #1c1f4a;
  border-radius: 20px;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  cursor: pointer;
}

#Dashboard .card:hover {
  background-color: #373f95;
}

#Dashboard .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 250px;
  height: 70px;
  border-radius: 20px;
  z-index: 2;
}

#Dashboard .card #Header-work {
  background-color: #ff8c66;
}

#Dashboard .card #Header-play {
  background-color: #56c2e6;
}

#Dashboard .card #Header-study {
  background-color: #ff5c7c;
}

#Dashboard .card #Header-exercise {
  background-color: #4acf81;
}

#Dashboard .card #Header-social {
  background-color: #7536d3;
}

#Dashboard .card #Header-self-care {
  background-color: #f1c65b;
}

#Dashboard .card .card-content {
  padding: 8%;
  z-index: 3;
  color: #bdc1ff;
}

#Dashboard .card .card-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3em;
  margin-bottom: 7%;
}

#Dashboard .card .card-content .header span {
  color: white;
  text-transform: capitalize;
}

#Dashboard .card .card-content .header span .ellipses {
  cursor: pointer;
}

#Dashboard .card .card-content .header span .ellipses:hover {
  fill: white;
}

#Dashboard .card .card-content .current-hours {
  color: #d6d9ff;
  font-size: 2.5em;
  margin-bottom: 3%;
}

#Dashboard .card .card-content .previous-hours {
  font-size: 0.9em;
}

@media only screen and (max-width: 700px) {
  body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #Dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10%;
    margin-bottom: 5% !important;
  }
  #UserInfo {
    width: 250px;
    margin-bottom: 8%;
  }
  .tracker-grid {
    font-size: 12px !important;
    width: 250px !important;
    margin-left: 0 !important;
    row-gap: 2% !important;
    margin-bottom: 10% !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
  body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/*# sourceMappingURL=App.css.map */